* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.header h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}

.input-row {
  display: flex;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.currency-select,
.result,
#amount {
  background-color: #f1f3f4;
  padding: 10px;
  font-size: 16px;
  width: 70%;
  border: 1px solid transparent;
}

#amount:hover {
  border: 1px solid #ccc;
}

.currency-select:hover {
  border: 1px solid #ccc;
  background-color: rgb(224, 226, 227);
}
.result,
#amount {
  width: 30%;
  background-color: rgb(255, 255, 255);
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  border-radius: 18px;
  outline: 1px solid transparent;
  background-color: #f1f3f4;
  font-size: 14px;
  max-width: 300px;
  height: 36px;
}
.end:hover {
  border: 1px solid #ccc;
  background-color: rgb(224, 226, 227);
  font-size: 20px;
}
#copyResultbutton {
  background-color: rgba(3, 55, 8, 0.66);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#clearFieldsbutton {
  background-color: rgba(255, 0, 0, 0.59);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#copyResultbutton:hover {
  background-color: rgba(3, 55, 8, 0.9);
}
#clearFieldsbutton:hover {
  background-color: transparent;
  border: 1px solid rgb(208, 18, 18);
  color: red;
  font-weight: bold;
}
